.flex {
  height: 300px;
  width: 300px;
  display: flex;
  color: white;
  background: #8000ff;
  justify-content: center;
  align-items: center;
  margin: 0px 10px;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.name {
  width: 100%;
  text-align: center;
}

.details {
  width: 100%;
  text-align: center;
}